#block-custom-status{
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    background: #d1d1cc;
    margin: auto;
    z-index: 9;
    box-shadow: 0px 15px 55px -10px;
    border-radius: 3px;
}

#block-custom-status h2{
    display: none;
}

#status_message{
    overflow: scroll;
    width: 200px;
    height: 100px;
}

#status_button{
    border-radius: 100px;
    background: #e61c1f;
    margin-bottom: 10px;
    margin-left: 5px;
}

.row{
    display: flex;
    background: #666360;
    padding-top: 10px;
    margin-top: -10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#status_title{
    color: #FFFFFF;
    width: 100px;
    margin: auto;
    margin-top: 3px;
}

#status_message_mode{
    margin-left: 8px;
}

#overlay{
    display: none;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
}

#all_status_message{
    overflow: scroll;
    width: 200px;
    height: 100px;
}